html { 
   font-size: 10px; 
   font-family: placeholder;   
}

body{
background-image: url(haa.png);
background-size: 100%;
}
 
#cabeca{
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #FF9500;
	padding: 50px 100px 50px 90px;
	border: 5px solid black;
}

#logo {
	font-size: 60px;
  text-align: center;

   margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

#subtitulo {
	font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

#corpo {
	font-size: 30px;
	text-align: center;
	width: 700px;
	margin: 0 auto;
	margin-top: 100px;
	background-color: #FF9500;
	padding: 30px 100px 60px 90px;
	border: 3px solid black;
}
#contato {
  font-size: 30px;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #FF9500;
  padding: 30px 100px 60px 90px;
  border: 5px solid black;
}


#link{
	text-decoration: none;

} 
label{
    font-size: 30px;
  text-align: right;

}

@media screen{
#add {
	width: auto;
	margin-right: 150px;
	margin-left: 150px;
}

}
.campo {
	float: right;
}
.esquerda {
	float: left;
}
.logotipo {
	float: none;
	width: 200px;
	margin-bottom: 0px;
	bottom: 0px;
	margin-left: 10px;
}
.vetor {
	float: left;
	width: 50px;
	height: auto;
	margin-top: 70px;
}
.vetoresquerda {
	width: 50px;
	height: auto;
	float: right;
	margin-top: 70px;
}
